*{box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
    
body {
      padding-top:80px;
      font-family: monospace,monaco;
   }

#background_image{
  background: url("styles/imagenes_css/background_image.JPG")no-repeat center center;
  background-size: cover;
}   

header{
  z-index: 10;
}   


.logo{
   width: 140px;
   position: absolute;
   bottom: -25px;

}



#imagenFondo{
   background:url("imagenes_css/imagen_fondo.jpg") no-repeat center center;
     opacity: 0.9;
   background-size:cover;
   }

   .menu {
      display:block;
      width:100%;
      position: fixed;
      top:0;
      background:black;
      z-index: ;
      margin: 0;
   }

   .menu .button-menu {
      display: block;
      padding: 20px;
      color: #fff;
      overflow: hidden;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
   }

   .menu span {
      float: right;
      font-size: 40px;
   }

   header nav {
      display: non;
      width: 80%;
      right: 100%;
      position: fixed;
      margin: 0;
      background:black;
      z-index: ;
   }

   header nav ul li {
      display: block;
      border-bottom:1px solid rgba(255,255,255,.5);
   }

   header nav ul li a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 20px;
   }

   header nav ul li:hover {
   background:#E6344A;
}
/*main*/


.titulo-principal{
   width: 100%;
   text-align: center;
   font-size:30px ;
   color: white;
   -webkit-text-stroke:0px black;
   font-family: 'GFS Didot', serif;
   padding-top: 10px;
}



#olavarria{
   font-family: 'Pacifico', cursive;
    display: inline;
   color: transparent;
   -webkit-text-stroke:1px white;
}

.container{
 padding: 50px 0px !important;
 width: 100%;
 position: relative;
 z-index: 0;  
}

.carouse1{
  z-index: 9;
}

#myCarousel img{
   padding: 0px !important;
   width: 100%;
}

/*articulos*/
.articulos{
   width: 100%;
   text-align: center;
   padding: 25px;
   display: block;
   
}

.parrafo1 {
  padding-top: 20px; 
  text-align: center;
  font-size: 20px;
  opacity: 0.8; 
}

.imgEntrenamientos{
   padding: 50px;
   margin:10px 0;
   display:  flex;
   justify-content: center;
  animation-duration: 2s;
  animation-name: aparecer;
} 


@keyframes aparecer{
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
}


img{

   padding: 30px;
} 

.articulo2{
   width: 100%;
}


.articulo2 a{
    font-size: 20px;
   cursor: pointer;
   display: inline-block;
   border: 0;
   font-weight: bold;
   padding: 10px 20px;
   background: gray;
   color: black;
   border: 2px solid black ;
   margin: 10px 0;
}

.articulo2 a:hover{
   background-color: black;
   color: white ;
}

.articulo2 h2{
  color: white;
}

.footer{
   width: 100%;
   position: absolute;
   height: 100px;
   background-size: cover;
   background-image: linear-gradient(to right, green, yellow);
   display: flex;
}

.redes{
   display: flex;
   align-items:center;
   justify-content:center;
   padding-left:10px;
  padding-top:30px ;
}

.redes a{
  margin:0 10px;
  }

.redes i{
   font-size: 20px;
   margin: 0 10px;
   display: grid;
   columns: 
}

.copy h6{
   position: relative;
   padding-top: 35px ;
   padding-left: 10px;
}



.titulo-contacto{
   position: relative;
   padding-top:30px ;
   padding-left: 10px;
   font-size:15px ;
   margin-bottom: ;
   display: flex;
   left: 80px;
}

/*--PAGINA CONTACTO--*/

.container-contacto{
   width: 100%;
}

.container-contacto h1{
   text-align: center;
   font-size: 50px;
   color: white;
}

.container-contacto h2{
  text-align: center;
  font-size: 20px;
  color: white;
}

#img-fondo-contacto{
  background:url("imagenes_css/imagen_fondo_2.jpg")no-repeat center center;
  background-size:cover;
}

.formulario{
  color: white;
   width: 100%;
   display: block;
   padding: 63px;
   margin-top: 60px ;
   border: 1px solid black;
}

.campo{
   padding: 50px;
}

.labels{
   font-size: 20px;
}

textarea{
  resize: none;
}

.btn-msg{
  background-color: gray;
}

/*--PAGINA ACERCA DE--*/

.container-info{
   width: 100%;
   text-align: center;
}

.container-info h1{
   font-size: 30px;
}

.img-info{
  align-items: center;
}

table{
   width: 100%;
   border: 1px solid black;
   border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
.table{
   padding: 50px;
}

/*--PAGINA DONDE ENCONTRARNOS--*/

.lugares{
   text-align: center;
   font-size: 25px;
   padding: 50px;
}

#img-lugar{
  background: url("imagenes_css/imagen_fondo3.jpg")no-repeat center center;
  background-size: cover;
  padding-top: 88px;
}

.container-map{
   overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
padding-top: 20px;
z-index:0;
}

.container-map iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;

}

/*--PAGINA NOSOTROS--*/
.c-nosotros{
   text-align: center;
   width: 100%;
}

.c-nosotros h1{
   font-size: 35px;
}

.c-nosotros p{
   margin: 20px;
   padding-top: 15px;
}

/*IMG DE PRUEBA*/
.img-nosotros{
   height: 580px;
   padding: 50px;
   display: flex;
}


@media screen and (min-width: 800px){
body{
   background-color: white;

   
}
.titulo-principal{
   padding-top: 100px;
}


.container {
   padding-top: 50px !important;
}

video{
   height: 400px;
}

.redes{
   position: relative;
   padding-left: 20rem;
   padding-top:35px ;
}
.titulo-contacto{
   float: right;
   position: relative;
   left: 25rem;
   font-size: 20px;
    ;
}

/*--PAGINA CONTACTO--*/

.campo{
   padding: 100px;
}

/*--PAGINA ACERCA DE--*/

.container-info p{
  margin: 30px;
}


}


@media screen and (min-width: 1024px){
body{
   background-color:;
}


#imagenFondo{
  height: 800px;
  }


   
.titulo-principal h1{

    font-size: 100px;

}

.titulo-principal h2{

    font-size: 90px;

}

video{
   display: block;
   width: 100%;
   height: 50rem;

}

.redes{
   position: relative;
   padding-left: 65rem;
   padding-top:35px ;
}
.titulo-contacto{
   float: right;
   position: relative;
   left: 70rem;
   font-size: 20px;
    ;
}

/*--PAGINA CONTACTO--*/

.container-contacto{
   width: 100%;
   padding: 0 100px;
   margin-top:110px;
}

/*--PAGINA ACERCA DE--*/

.container-info p{
  margin: 60px;
}

table{
   width: 80%;
}

/*--PAGINA NOSOTROS--*/
.c-nosotros{
   text-align: center;
   width: 100%;
   padding-bottom: 40px;
   bottom: 150px;
}

.c-nosotros h1{
   font-size: 50px;
}

.c-nosotros p{
   font-size: 25px;
   margin: 0 100px;
}

.img-nosotros{
   width: 100%;
   height: 800px;
   justify-content: center;   
}

}











